body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcf6f6;
    color: #000000;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: rgb(241, 20, 8);
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 5px;
}

nav a {
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
    color: orangered;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.info p {
    font-size: 1.2em;
    margin: 5px 0;
}

.hobbies, .benefits, .css-support {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.benefits ul {
    list-style-type: disc;
    padding-left: 20px;
}

.benefits li {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 3px solid #000000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td {
    font-weight: bold;
}

.dropdown {
    margin-top: 20px;
    
}

.dropdown label {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 20px;
}

#color-select {
    border: 3px solid black;
    padding: 6px;
    font-size: 1em;
}

/* Responsive design for smaller screens (mobile devices) */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    header h1 {
        font-size: 2em;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
        font-size: 1em;
    }

    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic {
        margin-right: 0;
        margin-bottom: 20px;
        width: 120px;
        height: 120px;
    }

    .info p {
        font-size: 1em;
    }

    h2 {
        font-size: 1.2em;
    }

    table, th, td {
        font-size: 0.8em;
    }

    .dropdown label {
        font-size: 1em;
    }

    #color-select {
        font-size: 0.9em;
    }
}
